body {
  background-color: #85DCB8;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #C38D9E;
}

.heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #E07A5F;
  text-align: center;
  margin: auto;
  padding: 2%;
  width: 30%;
  height: auto;
  display: block;
  clear: both;
}

.image {
  border-radius: 50%;
  margin: auto;
  width: 30%;
  margin-bottom: 50px;
  height: auto;
  display: block;
  clear: both;
}

.btn {
  display: block;
  background-color: #E8A87C;
  color: white;
  font-weight: bold;
  margin-top: 20px; 
}

#results {
  display: none;
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
  color: #E07A5F;
  background-color: white;
  border: 2px solid #C38D9E;
  border-radius: 15px;
  padding-top: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 75%;
}



li {
  list-style: none;
}